.track_row{
    font-size:20px;
    display: inline-block;
    background-color: rgb(245, 245, 245);
    border: 2px solid rgba(176, 39, 39, 0);
    border-radius: 20px;
    min-width:25vw;
    margin: 2vh 2vw 1vh 2vw;
}
.header{
    border: 1px solid rgba(53, 52, 52, 0);
    box-shadow: 0 0 6px rgb(174, 175, 175);
    border-radius: 20px;
    padding: 1vh 1vw;
    
}
.search{
    display:flex;
    justify-content:flex-start;
    margin-left: 3vw;
}
.search_button{
    border: 1px rgba(65, 16, 16, 0);
    width:50%;
    height:3vh;
    min-width:10vw;
    min-height:3vh;
    border-radius: 5px;
    margin:2vh auto 1vh auto;
    box-shadow: 0 0 6px rgb(174, 175, 175);
}

.staff{
    border-radius:5px;
    border:1px rgb(240, 208, 208);
    background-color: rgb(246, 246, 246);
    height:max-content;
    max-height: 80vh;
    overflow:scroll;
    margin:1vh 3vw 3vh 3vw ;
    width:93%;
    box-shadow: 0 0 6px rgb(174, 175, 175);
}

.staff :hover{
background-color:  rgb(203, 229, 229);
cursor: pointer;
}
