.track_row{
    font-size:18px;
    display: inline-block;
    background-color: rgb(244, 243, 243);
    border: 1px solid rgba(197, 197, 197, 0);
    box-shadow: 0 0 6px rgb(174, 175, 175);
    border-radius: 6px;
    width:95%;
    margin: 2vh;
  
  }
  .header{
    display: flex;
    flex-direction: row;
    margin:0.1vh;
    gap:7vw;
    justify-content: center;
  }

  .loan-grid{
    width: 90%;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-top: 2vh;
    padding: 3vh;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 10px;
    box-shadow: 0 0 6px hsl(210 14% 90%);
    min-height: 70vh;
    overflow:scroll;
  } 
  .loans :hover{
    background-color:  rgb(228, 247, 247);
    cursor: pointer;
    }

  .content{
    display:flex;
    justify-content:center;
  }

  .search{
    display:flex;
    justify-content:flex-start;
}
.search_button{
    border: 1px rgba(65, 16, 16, 0);
    width:20vw;
    height:3vh;
    border-radius: 5px;
    box-shadow: 0 0 6px rgb(174, 175, 175);
}

.add-loan{
    display:flex;
    justify-content:center;
    margin-top: 2vh;
    gap:3vw;
}

.loan-btn {
	border: none;
	outline: none;
	padding: 5px 5px;
	background-color: rgb(227, 240, 202);
	border-radius: 15px;
	width: fit-content;
	font-weight: bold;
	font-size: 16px;
  cursor: pointer;
}

.loan-btn:hover{
  background-color: rgb(136, 249, 153);
  cursor: pointer;
  
}